.grid{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: '1rem';
}
.grid-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.turn-highlight{
    color:white;
    /* text-align: center; */
}
.reset{
    padding: 1rem;
    color: white;
    background-color:var(--resetGreen) ;
    border-radius: 10px;
    border: none;
}